* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    width: 20%;
}

.landing-page {
    width: 100vw;
    height: 100vh;
}

.nav-logo {
    margin-top: 10px;
}

header > nav {
    position: fixed;
    width: 100%;
    max-height: 20%;
}

header > nav, button {
    font-size: small;
    font-weight: 600;
}

.header-b {
    color: white;
    background-color: 0;
    padding: 5px;
    margin: auto 5px;
}

header h2 {
    font-size: 35px;
    font-weight:800;
    text-align: center;
}
