.flx {
    display: flex;
}

.flx-row {
    flex-direction: row;
}

.flx-clmn {
    flex-direction: column;
}

.jstfy-cntnt {
    justify-content: center;
}

.align-itms {
    align-items: center;
}

.flx-wrap {
    flex-wrap: wrap;
}

